https://movies.localhost:443 {
	reverse_proxy http://pwa:80
}

https://backend.movies.localhost:443 {
	reverse_proxy http://backend:80
}

https://proxy.movies.localhost:443 {
	reverse_proxy http://proxy:3000
}
